@import url('https://rsms.me/inter/inter.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    height: 100%;
    width: 100%;

    font-synthesis: none;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Base colors */
    --primary-light: #f5f5f5;
    --primary-dark: #161616;
    --secondary-light: #6b6b6b;
    --secondary-dark: #6b6b6b;
    --tertiary-light: #c6c6c6;
    --tertiary-dark: #393939;
    --surface-light: #e4e4e7;
    --surface-dark: #27272a;
    --primary-accent: #ef743c;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: inter var;
    font-weight: 500;
    height: 100%;
    width: 100%;
}

.default-bg {
    @apply dark:bg-primary-dark bg-primary-light;
}

.d-s-bg {
    @apply dark:bg-secondary-dark bg-secondary-light;
}

.d-bg-h {
    @apply dark:hover:bg-primary-light hover:bg-primary-dark;
}

.default-text {
    @apply dark:text-primary-light text-primary-dark;
}

/* default-hover */
.d-t-h {
    @apply dark:hover:text-primary-light hover:text-primary-dark;
}

/* default-secondary-text */
.d-s-t {
    @apply dark:text-secondary-dark text-secondary-light;
}

/* default-tertiary-text */
.d-t-t {
    @apply dark:text-tertiary-dark text-tertiary-light;
}

.is-center {
    @apply justify-center;
}

.is-end {
    @apply justify-end;
}

.is-y-center {
    @apply items-center;
}

.is-y-end {
    @apply items-end;
}

.b {
    @apply border dark:border-tertiary-dark border-tertiary-light;
}

/* border hover */
.b-h {
    @apply border dark:hover:border-primary-light hover:border-primary-dark;
}

.b-b {
    @apply border-b dark:border-tertiary-dark border-tertiary-light;
}

.b-l {
    @apply tablet:border-l dark:border-tertiary-dark border-tertiary-light;
}

.b-t {
    @apply border-t tablet:border-t-0 dark:border-tertiary-dark border-tertiary-light;
}

/* default gradient */
.d-g {
    @apply dark:text-primary-dark text-primary-light;
}

.s {
    -webkit-text-stroke: 7.5px transparent;
}

.h5 {
    @apply text-xs;
}

.h4 {
    @apply text-sm;
}

.h3 {
    @apply text-base;
}

.h2 {
    @apply text-lg;
}

.h1 {
    @apply text-xl;
}
